@model KooliProjekt.Data.PagedResultBase

<div class="pager">
    @if (Model.TotalPages > 1)
    {
        <ul class="pagination">
            @if (Model.Page > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="?page=@(Model.Page - 1)">Previous</a>
                </li>
            }

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.Page ? "active" : "")">
                    <a class="page-link" href="?page=@i">@i</a>
                </li>
            }

            @if (Model.Page < Model.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="?page=@(Model.Page + 1)">Next</a>
                </li>
            }
        </ul>
    }
</div>
